body {
    background-color: #222222;
}

/* h1 {
    border-bottom: 1px solid #4885ed;
    padding-bottom: 10px;
} */

.rowC{
    display:flex;
    flex-direction:row;
}

.App {
  text-align: center;
  color: #4885ed;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
